@model IIT.EResult.Models.StudentModel

@{
        //ViewBag.Title = "Create";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="studentForm">
    @using (Html.BeginForm("Create", "Student", FormMethod.Post, new { id = "mainForm", name = "mainForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Student Form</legend>
            @if (ViewBag.EditMode)
            {
                @Html.HiddenFor(m => m.Id)
            }
            <div>
                @Html.LabelFor(m => m.Name)
            </div>
            <div>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                @Html.LabelFor(m => m.BatchNo)
            </div>
            <div>
                @Html.DropDownListFor(model => model.BatchNo, new List<SelectListItem> 
                                                                { 
                                                                    new SelectListItem { Text = "--- Select BatchNo ---", Value = "0" },
                                                                    new SelectListItem { Text = "MIT-7th", Value = "MIT-7th" },
                                                                    new SelectListItem { Text = "MIT-8th", Value = "MIT-8th" },
                                                                    new SelectListItem { Text = "MIT-9th", Value = "MIT-9th" },
                                                                    new SelectListItem { Text = "MIT-10th", Value = "MIT-10th" },
                                                                    new SelectListItem { Text = "MIT-11th", Value = "MIT-11th" },
                                                                }, new { @class = "edroupdown" })
               @* @Html.TextBoxFor(m => m.BatchNo)*@
                @Html.ValidationMessageFor(m => m.BatchNo)
            </div>

            <div>
                @Html.LabelFor(m => m.Session)
            </div>
            <div>
                @Html.DropDownListFor(model => model.Session, new List<SelectListItem> 
                                                                { 
                                                                    new SelectListItem { Text = "--- Select Session ---", Value = "0" },
                                                                    new SelectListItem { Text = "2010-2011", Value = "2010-2011" },
                                                                    new SelectListItem { Text = "2011-2012", Value = "2011-2012" },
                                                                    new SelectListItem { Text = "2012-2013", Value = "2012-2013" },
                                                                    new SelectListItem { Text = "2013-2014", Value = "2013-2014" },
                                                                }, new { @class = "edroupdown" })
                @*@Html.TextBoxFor(m => m.Session)*@
                @Html.ValidationMessageFor(m => m.Session)
            </div>
            <div>
                @Html.LabelFor(m => m.Email)
            </div>
            <div>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div>
                @Html.LabelFor(m => m.ContactNo)
            </div>
            <div>
                @Html.TextBoxFor(m => m.ContactNo)
                @Html.ValidationMessageFor(m => m.ContactNo)
            </div>

            <div>
                <input type="submit" value="Submit" />
            </div>
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}