@model IEnumerable<IIT.EResult.Models.ExamResultModel>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="studentForm">
    @using (Html.BeginForm("ResultEntry", "ExamResult", FormMethod.Post, new { id = "mainForm", name = "mainForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Exam Result</legend>
            <div>
                <table>
                    <tr style="background-color: gray;">
                        @* <th>Id</th>*@
                        <th>Student Id</th>
                        <th>Student Name</th>
                        <th>Course Id</th>
                        <th>Batch No</th>
                        <th>Exam Type</th>
                        <th>Mark</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>@Html.DisplayFor(modelItem => item.Id)</td>*@
                            <td>@Html.HiddenFor(modelItem => item.StudentId)</td>
                            <td>@Html.HiddenFor(modelItem => item.StudentName)</td>
                            <td>@Html.HiddenFor(modelItem => item.CourseId)</td>
                            <td>@Html.HiddenFor(modelItem => item.BatchNo)</td>
                            <td>@Html.HiddenFor(modelItem => item.ExamType)</td>

                            <td>@Html.DisplayFor(modelItem => item.StudentId)</td>
                            <td>@Html.DisplayFor(modelItem => item.StudentName)</td>
                            <td>@Html.DisplayFor(modelItem => item.CourseId)</td>
                            <td>@Html.DisplayFor(modelItem => item.BatchNo)</td>
                            <td>@Html.DisplayFor(modelItem => item.ExamType)</td>
                            <td>@Html.EditorFor(modelItem => item.Mark)</td>
                        </tr>
                    }
                </table>
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}