@model IEnumerable<IIT.EResult.Models.CourseModel>

@{
    ViewBag.Title = "Course Summary";
}

<h2>Course Summary</h2>

<p>@Html.ActionLink("Create New", "Create", "Course")</p>
<div id="message" class="message-success">
    @if (ViewBag.Mode)
    {
        @ViewBag.Message
    }
</div>
<div>
    <table>
        <tr style="background-color: gray;">
            <th>Course Id</th>
            <th>Course Title</th>
            <th>Course Credit</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CourseId)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseCredit)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
<div>
    @*<script type="text/javascript">
        $(document).ready(function () {
            if ($("#message:contains('Successfully')")) {
                $("#message").addClass('message-success');
            }
            if ($("#message:contains('Failed')")) {
                $("#message").addClass('message-error');
            }
            if ($("#message").val().length > 0) {
                $("#message").hide(slow);
            }
        });
    </script>*@
</div>
